{% extends 'base.html' %}
{% load  staticfiles %}
{% block title %}
    {{ post.title }}
{% endblock title %}

{% block style %}
    <link href="{% static '/mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static '/mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock style %}

{% block main %}



    <header class="news_header">
        <h2>{{ post.title }}</h2>
        <ul>
            <li>{{ post.author }} 发布于 {{ post.created_time }}</li>
            <li>栏目：<a href="" title="" target="_blank">{{ post.category.navigation.name }}</a></li>
            <li>来源：<a href="" title="" target="_blank">互联网</a></li>
            <li>浏览量：<strong>{{ post.view }}</strong></li>
        </ul>
    </header>
    <article class="news_content">
        <div>
            <div id="content"><textarea>{{ post.body }}</textarea></div>
        </div>
    </article>
    <div class="reprint">转载请说明出处：<a href="{% url 'blog:index' %}" title="" target="_blank">冷文博客</a> » <a href="
{% url 'blog:detail' post.pk %}"
                                                                                                         title=""
                                                                                                         target="_blank">{{ post.title }}</a>
    </div>
    <div class="zambia">
        <a href="javascript:;" name="zambia" rel="">
            <span class="glyphicon glyphicon-thumbs-up"></span> 赞（0）
        </a>
    </div>
    <div class="tags news_tags">
        标签：
        {% for tag in post.tags.all %}
            <span data-toggle="tooltip" data-placement="bottom" title="查看关于 {{ tag.name }} 的文章">
                <a href="">{{ tag.name }}</a>
            </span>
        {% endfor %}
    </div>
    <nav class="page-nav">
        <span class="page-nav-prev">上一篇<br/>
            {% if prev_post %}
                <a href="{% url 'blog:detail' prev_post.pk %}" rel="next">{{ prev_post.title }}</a>
            {% else %}
                <a href="#" rel="next">当前没有上一篇啦</a>
            {% endif %}
        </span>
        <span class="page-nav-next">下一篇<br/>
            {% if next_post %}
                <a href="{% url 'blog:detail' next_post.pk %}" rel="next">{{ next_post.title }}</a>
            {% else %}
                <a href="#" rel="next">当前没有下一篇啦</a>
            {% endif %}

        </span>
    </nav>
    <div class="content-block related-content visible-lg visible-md">
        <h2 class="title"><strong>相关推荐</strong></h2>
        <ul>
            <li><a target="_blank" href=""><img src="{% static 'images/logo.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img1.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img3.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img2.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img2.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img3.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/img1.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
            <li><a target="_blank" href=""><img src="{% static 'images/logo.jpg' %}" alt="">
                <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a></li>
        </ul>
    </div>
    <div class="content-block comment">
        <h2 class="title"><strong>评论</strong></h2>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="form-inline" id="comment-form">
            {% csrf_token %}
            <div class="comment-title">
                <div class="form-group">
                    <label for="commentName">昵称：</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="form-group">
                    <label for="commentEmail">邮箱：</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
            </div>
            <div class="comment-form">
                {{ form.text }}
                {{ form.text.errors }}
                <div class="comment-form-footer">
                    <div class="comment-form-btn">
                        <button type="submit" class="btn btn-default btn-comment">提交评论</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="comment-content">
            <ul>
                {% for comment in comment_list %}
                    <li>
                        {#                        <span class="face">#}
                        {#                            <img src="{% static 'images/icon/icon.png' %}" alt="">#}
                        {#                        </span>#}
                        <span class="text">
                            <strong>{{ comment.name }}</strong> ({{ comment.created_time }}) 说：<br/>
                            {{ comment.text }}
                            {% if comment.author_reply %}
                                <span class="text">
                                <strong>作者回复</strong> 说：{{ comment.author_reply }}

                            </span>
                            {% endif %}

                        </span>
                    </li>
                {% empty %}
                    <li><span class="face"><strong>暂无评论！</strong></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock main %}

{% block script %}
    <script src="{% static '/mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
        $(function () {
            // js 解析markdown
            editormd.markdownToHTML("content", {
                //htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
            $(".reference-link").each(function (i, obj) {
                console.log(obj)
            })
        })
    </script>

{% endblock script %}