{% extends 'base.html' %}

{% block title %}
    友情链接
{% endblock title %}

{% block main %}
    <div class="content-block friendly-content row">
        <h2 class="title"><strong>本站友链</strong></h2>
        {% for friendly in friendly_list %}
            <div class="col-md-4 col-xs-6"><span data-toggle="tooltip" data-placement="bottom"
                                                 title="点击进入 {{ friendly.title }} 站点"><a
                    href="{{ friendly.weburl }}">{{ friendly.title }}</a></span>
                <p>查看关于 {{ friendly.title }} 的文章查看关于 本站 的文章{{ friendly.desc }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="content-block comment">
        <h2 class="title"><strong>提交友链</strong></h2>
        <form action="message.php" method="post" class="form-inline" id="comment-form">
            <div class="comment-title">
                <div class="form-group">
                    <label for="messageName">网站名称：</label>
                    {{ form.title }}
                    {{ form.title.error }}
                </div>

                <div class="form-group">
                    <label for="messageEmail">网站地址：</label>
                    {{ form.weburl }}
                    {{ form.weburl.error }}
                </div>
                <div class="form-group">
                    <label for="messageEmail">联系邮箱：</label>
                    {{ form.email }}
                    {{ form.email.error }}

                </div>
            </div>
            <div class="comment-form">

                {{ form.desc }}
                {{ form.desc.error }}
            </div>
            <div class="comment-form">
                <br>
                {{ form.reason }}
                {{ form.reason.error }}
                <div class="comment-form-footer">

                    <div class="comment-form-btn">
                        <button type="submit" class="btn btn-default btn-comment">提交友链</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock main %}